@import "./node_modules/vue-cookieconsent-component/src/scss/cookie-consent";
@import "./node_modules/vue-cookieconsent-component/src/scss/cookie-consent-bottom";
@import "./node_modules/vue-cookieconsent-component/src/scss/cookie-consent-transition";

$secondary-color: #608385;
$main-color: #5F6975;

body {
    margin: 40px;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    position: relative;
    &__btn {
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        &--addtocart {
            color: white;
            background-color: $main-color;
        }
        &--promote {
            color: white;
            background-color: $secondary-color;
        }
    }
}

.header {
    grid-area: header;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul a{
        margin: 0;
        text-align: center;
        padding: 12px 15px 12px 15px;
        background: #5F6975;
        color: white;
        display: block;
        text-decoration: none;
    }

    &__main-menu>li{
        display: inline-block;
        margin-left: -5px;
    }

    li:hover>a{
        background: #4B545F;
        cursor: pointer;
    }

    &__sub-menu{
        position: absolute;
        display: none;
    }

    &__sub-menu li{
        border-top: 1px solid #575F6A;
        border-bottom: 1px solid #6B727C;
        position: relative;
    }

    &__main-menu>li:hover &__sub-menu{
        display: block;
    }
}

.container {
    font-family: 'Poppins', sans-serif;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
    color: #444;
}

.footer {
    grid-area: footer;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 50px;
    font-size: 150%;
}

.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-group {
    display: inline-block;
}

.btn-group .btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-group .btn:hover {
    background-color: rgb(249,250,251);
}




